@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
}

.content {
  background-color: hsl(0, 0%, 100%);
  max-width: 375px;
  margin: 0 auto;
  padding: 18px;
  border-radius: 17px;
  text-align: center;
}

h1 {
  font-weight: 700px;
}

p {
  font-size: 15px;
  font-weight: 400px;
  color: hsl(220, 15%, 55%);
  padding: 18px;
}

h1 p {
  padding: 10px;
}

.qr img {
  width: 100%;
  border-radius: 12px;
}
